.community {
    background-color: #FAFAFA;
}

.community .title {
    width: 100vw;
    height: 124px;
    position: sticky;
    top: 0;
    /* left: 0px;
    top: -132px; */
    background: #F3F1EC;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: "PingFang SC";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: black;

}

.community .title a {
    text-decoration: none;
    color: black;
}

.community .title i {
    margin: 0 58px;
}

.community .title .font {
    padding-top: 74px;
}

.sharelist {
    width: 340px;
    height: 409px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 18px;
    /* margin: 16px 25px; */
}

.sharebox {
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    align-items: center;
    padding-bottom: 150px;
}

.userMessage {
    display: flex;
    justify-content: start;
    align-items: center;
}

.messageFace {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: cadetblue;
    margin-right: 10px;
}

.username {
    font-family: "PingFang SC";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    /* text-align: center; */

}

.userMessage2 .time {
    margin-top: 4px;
    font-family: "PingFang SC";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    /* text-align: center; */
}

.Message {
    margin-top: 17px;
    font-family: "PingFang SC";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-align: left;
}

.Rankinglist {
    display: flex;
    flex-direction: column;
    margin-left: 26px;
    margin-right: 26px;
    align-items: center;
    margin-top: 73px;
    width: 320px;
    background-color: #fff;
    box-sizing: border-box;
    padding-bottom: 150px;
}

.rank .id {
    font-family: Arial Rounded MT Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.5px;
    text-align: center;
    margin-right: 30px;
}

.rank .username {
    font-family: PingFang SC;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    margin-right: 40px;
}

.rank .time {
    font-family: PingFang SC;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;

}

.rank {
    border-bottom: 1px solid #F3F1EC;
    height: 65px;
    line-height: 65px;
    /* padding-left: 44px; */
    font-family: "PingFang SC";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* letter-spacing: -0.5px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}