.userBox {
    background-color: #e5e5e5a1;
    width: 100vw;
    height: 100vh;
}

.userHead {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.userTitel {
    display: flex;
    align-items: center;
    padding: 80px 65px 0 41px;
}

.userTitel h6 {
    font-family: "PingFang SC";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.5px;
    text-align: center;
    margin-left: 19px;
}

ul {
    position: absolute;
    width: 320px;
    left: 22px;
    top: 243px;
    background: #FFFFFF;
    border-radius: 25px;
    list-style: none;
}

li {
    border-bottom: 1px solid #F3F1EC;
    height: 65px;
    line-height: 65px;
    padding-left: 44px;
    font-family: "PingFang SC";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.5px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

li img {
    width: 20px;
    height: 20px;
    margin-left: 140px;
}