body{
    height: 100vh;
    background-color: rgb(229, 229, 229);
}
.App{
    width: 390px;
    height: 844px;
    margin: 0 auto;
    background-color: rgb(250,250,250);
}
.community > .title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 122px;
    background: #F3F1EC;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.title > a{
    position: relative;
    height: 34px;
    top: 80px;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #000000;
    text-decoration:none
}
.sharelist{
    position: relative;
    width: 340px;
    height: 409px;
    left: 25px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 16px ;
}
.sharebox{
    overflow: auto;
    height: 637px;
    /* background-color: black; */
    padding-top: 27px;
}
.sharebox::-webkit-scrollbar{
    display: none;
}
.userMessage > .messageFace{
    position: relative;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 19px;
    background-color: green;
    border-radius: 25px;
}
.userMessage2{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 79px;
    bottom: 40px;
}
.userMessage2 > .username{
    position: relative;
    right: 5px;
    width: 126px;
    height: 25px;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
.userMessage2 > .time{
    position: relative;
    top: 8px;
    right: 5px;
    width: 126px;
    height: 25px;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #787575;
}

.Message{
    position: relative;
    width: 291px;
    height: 75px;
    left: 19px;
    bottom: 10px;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #000000;
}
.Rankinglist{
    position: relative;
    width: 340px;
    height: 632px;
    top: 45px;
    margin: 0 auto;
    background: #FFFFFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: auto;
    padding-top: 16px;
}
.Rankinglist::-webkit-scrollbar{
    display: none;
}
.rank{
    position: relative;
    width: 310px;
    height: 56px;
    left: 15px;
    border-radius: 20px;
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #F3F1EC;
}
.Rankinglist > .rank:first-child{
    background: #CAA974;
}
.rank > .id{
    position: relative;
    width: 15px;
    height: 20px;
    top: 18px;
    left: 12px;
    font-family: Arial Rounded MT Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #000000;
}
.rank > .messageFace{
    width: 40px;
    height: 40px;
    background-color: green;
    border-radius: 20px;
    position: relative;
    top: 10px;
    left: 20px;
} 
.rank > .username{
    position: relative;
    top: 22px;
    left: 30px;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}
.rank > .time{
    position: relative;
    top: 18px;
    left: 70px;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}