.cntBg {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.countDownTitle h3 {
    font-family: "PingFang SC";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.02em;
}

.countDownTitle {
    width: 100vw;
    height: 24vh;
    background: #f3f1ec97;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-sizing: border-box;
    padding: 40px 0 40px 20px;
}

/* .titleFont{

} */
.countDownTitle .time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 33px;
}

.board {
    position: relative;
    top: -40px;
}