.footer {
    width: 100%;
    height: 100px;
    position: fixed;
    box-sizing: border-box;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    background: #FFFFFF;
    box-shadow: 0px -2px 20px 5px rgba(247, 246, 243, 0.25);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/* .footer i {
    display: inline-block;
    width: 34px;
    height: 40px;
}

.footer i.footer-focus {
    background: url('../../assets/footer/focus.svg') no-repeat center;
    background-size: 100% 100%;
}

.footer i.footer-home {
    background: url('../../assets/footer/home.svg') no-repeat center;
    background-size: 100% 100%;
}

.footer i.footer-user {
    background: url('../../assets/footer/user.svg') no-repeat center;
    background-size: 100% 100%;
} */